.card-list {
  table {
    width: 100%;
    border-spacing: 0;

    .row {
      // padding: 0.5rem;
    }

    .cell {
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.7);
      width: 10rem;
      color: black;

      .button {
        margin: 0 0.2rem;
        padding: 0.3rem;
        text-decoration: none;
        font-size: 0.8rem;
        border: 1px solid grey;
        border-radius: 5px;
        color: black;
        background-color: white;
        font-family: inherit;
        line-height: normal;

        &:hover {
          background-color: lightgrey;
        }
      }
    }

  }

  .pages {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    .page-nbr {
      line-height: 1.7rem;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid lightgrey;
      cursor: pointer;
      color: lightgrey;
    }

    .active {
      color: black;
      border-color: black;
    }
  }
}
